/* Autocomplete Descriptors */
.ui-autocomplete {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	float: left;
	display: none;
	max-width: 640px;
	padding: 4px 0;
	margin: 2px 0 0 0;
	list-style: none;
	background-color: white;
	border: 1px solid #DAA520 !important;
}

.ui-autocomplete .ui-menu-item > a.ui-corner-all {
	display: block;
	clear: both;
	white-space: nowrap;
}

div.autocdescwrap.ui-menu-item {
	display: inline-block;
	vertical-align: top;
	margin: 10px 0 5px 10px;
	padding: 5px 0;
	width: 150px;
}

p.autocdescwrapcat.ui-menu-item-wrapper {
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	color: #404040;
	padding: 0 0 10px 0;
}

div.autocdescwrap.ui-menu-item div.vimagens.ui-menu-item-wrapper {
	width: 100px;
	margin: 0 25px;
	padding: 0;
}

div.autocdescwrap.ui-menu-item div.vimagens.ui-menu-item-wrapper img.vimg {
	width: 100px;
	height: 100px;
	position: relative;
	top: 0;
	left: 0;
}

div.autocdescwrap.ui-menu-item div.vimagens.ui-menu-item-wrapper img.vglos {
	width: 14px;
	height: 14px;
	position: absolute;
	top: 3px;
	left: 0;
}

div.autocdescwrap.ui-menu-item div.vimagens.ui-menu-item-wrapper p {
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	font-family:  'Source Sans Pro', sans-serif;
}

div.autocdescwrap.ui-menu-item:hover {
	display: inline-block;
	vertical-align: top;
	width: 150px;
	margin: 10px 0 5px 10px;
	padding: 5px 0;
	background-color: #E2BC39;
	-moz-box-shadow: 0px 0px 0px 2px #E2BC39;
	-webkit-box-shadow: 0px 0px 0px 2px #E2BC39;
	box-shadow: 0px 0px 0px 2px #E2BC39;
}

p.autocdescwrapcat.ui-menu-item-wrapper.ui-state-active {
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	color: #404040;
	padding: 0 0 10px 0;
	background-color: transparent;
}

div.autocdescwrap.ui-menu-item div.vimagens.ui-menu-item-wrapper.ui-state-active {
	width: 100px;
	margin: 0 25px;
	padding: 0;
	background-color: transparent;
}

div.autocdescwrap.ui-menu-item div.vimagens.ui-menu-item-wrapper.ui-state-active img.vimg {
	width: 100px;
	height: 100px;
	position: relative;
	top: 0;
	left: 0;
}

div.autocdescwrap.ui-menu-item div.vimagens.ui-menu-item-wrapper.ui-state-active img.vglos {
	width: 14px;
	height: 14px;
	position: absolute;
	top: 3px;
	left: 0;
}

div.autocdescwrap.ui-menu-item div.vimagens.ui-menu-item-wrapper.ui-state-active p {
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	font-family:  'Source Sans Pro', sans-serif;
}



/* Autocomplete Species */
#ui-id-2.ui-autocomplete {
	background-color: transparent !important;
	max-width: 200px;
	border: none !important;
}

div.autocespcwrap.ui-menu-item {
	width: 375px;
	padding: 0 10px 10px 10px;
	background-color: #FFF6CF;
	position: relative;
	left: -246px;
}

div.autocespcwrap.ui-menu-item:first-of-type {
	width: 375px;
	padding: 10px 10px 10px 10px;
	background-color: #FFF6CF;
	position: relative;
	left: -246px;
}

div.autocespcwrap.ui-menu-item div.especies.ui-menu-item-wrapper {
	margin: 0;
	padding: 12px;
	width: 351px;
	background-color: #F9C6A7;
	overflow: auto;
	display: flex;
	align-itens: center;
}

div.autocespcwrap.ui-menu-item div.especies.ui-menu-item-wrapper img {
    min-height: 100px;
    min-width: 100px;
	width: 100px;
	height: 100px;
	float: left;
	margin: 0 12px 0 0;
	order: <integer>;
	text-align: center;
}

div.autocespcwrap.ui-menu-item div.especies.ui-menu-item-wrapper div.nsp {
	order: <integer>;
	margin: auto 0;
}

div.autocespcwrap.ui-menu-item div.especies.ui-menu-item-wrapper div.nsp p.nomesp {
	font-size: 18px;
	line-height: 21px;
	font-weight: normal;
	width: 250px;
	font-family: 'Source Sans Pro', sans-serif;
	color: #404040;
}

div.autocespcwrap.ui-menu-item div.especies.ui-menu-item-wrapper div.nsp p.famisp {
	font-weight: normal;
	line-height: 21px;
	font-size: 16px;
	margin: 7px 0 0 0;
	font-family: 'Source Sans Pro', sans-serif;
	color: #404040;
}

div.autocespcwrap.ui-menu-item div.especies.ui-menu-item-wrapper div.nsp p.popn {
	font-weight: normal;
	line-height: 16px;
	font-size: 13px;
	margin: 7px 0 0 0;
	font-family: 'Source Sans Pro', sans-serif;
	color: #404040;
}


* Espécies */
div.especies {
	margin: 0 0 12px 0;
	padding: 12px;
	width: 351px;
	background-color: #F9C6A7;
	overflow: auto;
	display: flex;
	align-itens: center;
}

div.especies img {
    min-height: 100px;
    min-width: 100px;
	width: 100px;
	height: 100px;
	float: left;
	margin: 0 12px 0 0;
	order: <integer>;
	text-align: center;
}

div.nsp {
	order: <integer>;
	margin: auto 0;
}

p.nomesp {
	font-size: 18px;
	line-height: 21px;
	font-weight: normal;
	width: 250px;
}

p.famisp {
	font-weight: normal;
	line-height: 21px;
	font-size: 16px;
	margin: 7px 0 0 0;
	font-family: 'Source Sans Pro', sans-serif;
}

p.popn {
	font-weight: normal;
	line-height: 16px;
	font-size: 13px;
	margin: 7px 0 0 0;
	font-family: 'Source Sans Pro', sans-serif;
}

img.lala {
	padding: 0 0 0 3px;
}
