<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Yellow Dahlia 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20130504

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Chaves Interativas Bignoniaceae</title>
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700" rel="stylesheet" type="text/css" />
<link href="default.css" rel="stylesheet" type="text/css" media="all" />
<!--[if IE 6]>
<link href="default_ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->

	<!-- Css Documento -->
	<link href="/css/contato.css" rel="stylesheet" type="text/css">;

	<!-- jQuery -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
	<link rel="stylesheet" href="/bower_components/jquery-ui/themes/base/jquery-ui.min.css">

    <!-- Javascript Documento -->
    <script type="text/javascript" src="/javascript/internacionalization.js"></script>
    <script type="text/javascript">
      var lang = "{{lang}}"
      var base = '{{base}}';
	  var language = (lang == "")?"pt-BR":lang;	  
	  function setLanguage(language){
		localStorage.language = language;
		window.location = "/profile/contact/{{base}}/"+localStorage.language;
	  	}
	  
		window.onload = function(){
			var internacionalization = new Internacionalization();
			internacionalization.base = '{{base}}';
		  	internacionalization.updateLogo();	  	

			if(localStorage && localStorage.language)
			  language = localStorage.language;
			$.getJSON("/api/Schemas?filter=%7B%22where%22%3A%7B%22class%22%3A%22SiteLabel%22%2C%22language%22%3A%22"+language+"%22%7D%7D", function(data){
			  data.forEach(function(label) {
				$("#"+label.schema+"-"+label["class"]+"-"+label.term).html(label.field);
			  });
			});
			if (typeof(Storage) !== "undefined") {
			  localStorage.language = localStorage.language?localStorage.language:"pt-BR";
			  if(language!=localStorage.language)
				window.location = "/profile/contact/"+language;
			} else {
			  alert("O seu browswer não suporta alguns recursos utilizados pelo sistema.\nRecomenda-se atualizar browser ou utilizar outro.");
			}
		}
	</script>

</head>

<body>

<!-- Div Menu e Logo -->
<div id="header-wrapper">
	<div id="header">
		<div id="logo">
			<h1><a href="/{{base}}" id="bigno-SiteLabel-siteHome">Chaves Interativas Bignoniaceae</a></h1>
		</div>
		<div id="menu">
			<ul>
				<li><a href="/{{base}}" id="bigno-SiteLabel-siteIdentificationKey">Chave de identificação de espécies</a></li>
				<li><a href="/profile/glossary/{{base}}" id="bigno-SiteLabel-siteGlossary">Glossário</a></li>
				<li><a href="/profile/about/{{base}}" id="bigno-SiteLabel-siteAbout">Sobre</a></li>
				<!--<li><a href="#" id="bigno-SiteLabel-siteContact">Contato</a></li> -->
			</ul>
		</div>
		<div id=menu>
				<ul>
					<li>
						<span class="t-lang">
							<img onclick="setLanguage('pt-BR')"  src="/images/pt_BR.png">
							<img onclick="setLanguage('en-US')"  src="/images/en_GB.png">
						</span>
					</li>
				</ul>
		</div>
	</div>
</div>
<!--
<div id="banner">
	<div class="img-border"> <a href="#"><img src="images/header-img.jpg" width="1120" height="300" alt="" /></a> </div>
</div>
-->
<div id="wrapper">
	<div id="wide-content">
		<div>
			<h2 id="bigno-SiteLabel-siteContact">Contato</h2>

		</div>
	</div>
</div>
<!--
<div id="page-wrapper">

<div id="page" class="container">
	<div id="content-side">
		<div>
			<ul class="style1">
				<li class="first">
					<h3>Descritores <input type="text" name="search" placeholder="Search.."></h3>
					
					<p>Ut vel nisl tristique justo ornare iaculis. Suspendisse suscipit, orci ac interdum viverra, nulla orci facilisis mi, a ultrices mi lectus vitae felis. Morbi suscipit adipiscing orci et blandit. Morbi a nulla ut tellus blandit placerat a quis eros.</p>
					<p><a href="#" class="button-style">Read More</a></p>
				</li>
				<li>
					<h3>Descritores Selecionados</h3>
					<p>Ut vel nisl tristique justo ornare iaculis. Suspendisse suscipit, orci ac interdum viverra, nulla orci facilisis mi, a ultrices mi lectus vitae felis. Morbi suscipit adipiscing orci et blandit. Morbi a nulla ut tellus blandit placerat a quis eros.</p>
					<p><a href="#" class="button-style">Read More</a></p>
				</li>
			</ul>
		</div>
	</div>

	<div id="content">
		<div>
			<ul class="style1">
				<li class="first">
					<h3>Espécies <input type="text" name="search" placeholder="Search.."></h3>

					<p>Ut vel nisl tristique justo ornare iaculis. Suspendisse suscipit, orci ac interdum viverra, nulla orci facilisis mi, a ultrices mi lectus vitae felis. Morbi suscipit adipiscing orci et blandit. Morbi a nulla ut tellus blandit placerat a quis eros.</p>
					<p><a href="#" class="button-style">Read More</a></p>
				</li>
				<li>
					<h3>Espécies Descartadas</h3>
					<p>Ut vel nisl tristique justo ornare iaculis. Suspendisse suscipit, orci ac interdum viverra, nulla orci facilisis mi, a ultrices mi lectus vitae felis. Morbi suscipit adipiscing orci et blandit. Morbi a nulla ut tellus blandit placerat a quis eros.</p>
					<p><a href="#" class="button-style">Read More</a></p>
				</li>
			</ul>
		</div>
	</div>
	-->
<!--
	<div id="sidebar">
		<h2>Fusce ultrices</h2>
		<ul class="style3">
			<li class="first">
				<p class="date">05-04-2013</p>
				<p><a href="#">Vestibulum laoreet lorem sed amet condimentum eget ultrices et mago porttitor nequese blandit.</a></p>
			</li>
			<li>
				<p class="date">04-23-2013</p>
				<p><a href="#">Vestibulum laoreet lorem sed amet condimentum eget ultrices et mago porttitor nequese blandit.</a></p>
			</li>
			<li>
				<p class="date">04-17-2013</p>
				<p><a href="#">Vestibulum laoreet lorem sed amet condimentum eget ultrices et mago porttitor nequese blandit.</a></p>
			</li>
		</ul>
	</div>

-->
	
</div></div>

<div id="footer">
	<p id="bigno-SiteLabel-siteCopyright">Copyright &copy; 2016 BioComp - Todos os direitos reservados e outras informa&ccedil;&otilde;es</p>
</div>
</body>
</html>
