<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   <meta name="keywords" content="" />
   <meta name="description" content="" />
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>Chaves Interativas Bignoniaceae</title>
   <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700" rel="stylesheet" type="text/css" />

	<!-- Css Documento -->
	<link rel="stylesheet" href="/css/ficha.css">

	<!-- Arquivos Leaflet Map -->
	<link rel="stylesheet" href="/javascript/leaflet/leaflet.css" />
	<script src="/javascript/leaflet/leaflet.js"></script>

	<!-- Arquivos Grid Tabela de Amostras -->
	<link rel="stylesheet" type="text/css" href="http://w2ui.com/src/w2ui-1.4.min.css" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="http://w2ui.com/src/w2ui-1.4.min.js"></script>
	
	<script type="text/javascript" src="/javascript/internacionalization.js"></script>

	<!-- Arquivos Galeria - Fotorama -->
	<link  href="/javascript/fotorama/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
	<script src="/javascript/fotorama/fotorama.js"></script> <!-- 16 KB -->

    <!-- Javascript Documento -->
    <script type="text/javascript" src="/javascript/especie.js"></script>

    <!-- Início: Códigos para o Mapa e Tabela -->
	<script type="text/javascript">
		var id = "{{id}}";
		var language = "pt-BR";
		function setLanguage(language){
			localStorage.language = language;
			window.location = "/profile/species/{{base}}/"+localStorage.language+":"+id.split(":")[1];
		}
	  $(document).ready(function(){
	  		var internacionalization = new Internacionalization();
	  		internacionalization.base = '{{base}}';
	  		internacionalization.updateLogo();
			if(localStorage && localStorage.language)
				language = localStorage.language;
			$.getJSON("/api/Schemas?filter=%7B%22where%22%3A%7B%22class%22%3A%22SiteLabel%22%2C%22language%22%3A%22"+language+"%22%7D%7D", function(data){
				data.forEach(function(label) {
					if(label.term=="citation"){
				        var field = label.field;
				        var formattedDate = "";
				        var date = new Date();
				        var day = date.getDate();
				        var monthIndex = date.getMonth();
				        var year = date.getFullYear();
				        if(self.language=="en-US"){
				          formattedDate = monthIndex+"/"+day+"/"+year;
				        } else formattedDate = day+"/"+monthIndex+"/"+year;
				        field = field+" "+formattedDate;
				        $("#"+label.schema+"-"+label["class"]+"-"+label.term).html(field);
				    } else $("#"+label.schema+"-"+label["class"]+"-"+label.term).html(label.field);
				});
			});
			$.getJSON("/api/Schemas?filter=%7B%22where%22%3A%7B%22class%22%3A%22ProfilesLabel%22%2C%22language%22%3A%22"+language+"%22%7D%7D", function(data){
				data.forEach(function(label) {
					$("#"+label.schema+"-"+label["class"]+"-"+label.term).html(label.field);
				});
			});
			if (typeof(Storage) !== "undefined") {
					localStorage.language = localStorage.language?localStorage.language:"pt-BR";
					if(id.split(":")[0]!=localStorage.language)
						window.location = "/profile/species/{{base}}/"+localStorage.language+":"+id.split(":")[1];
			} else {
					alert("O seu browswer não suporta alguns recursos utilizados pelo sistema.\nRecomenda-se atualizar browser ou utilizar outro.");
			}
		//readSpecies("{{id}}");
	  //});

	  //window.onload = function(){

		// Início do código do Mapa
		var map = L.map('map',{scrollWheelZoom:false}).setView([-15.096511,-48.351517], 4);
		L.tileLayer(
		  'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
			maxZoom: 18
		  }).addTo(map);
		//Final do Código do Mapa

		 $.getJSON("/api/Schemas?filter=%7B%22where%22%3A%7B%22schema%22%3A%22dwc%22%2C%22language%22%3A%22"+language+"%22%7D%7D", function(data){
		 		var scientificName = "";
		 		var collectionName = "";
		 		var municipality = "";
		 		var recordedBy = "";
				data.forEach(function(item) {			      			      
			      if(item.term=="collectionCode") collectionName = item.field;
			      if(item.term=="recordedBy") recordedBy = item.field;
			      if(item.term=="municipality") municipality = item.field;
			      if(item.term=="scientificName") scientificName = item.field;
			    });
			    $('#grid').w2grid({
							name: 'grid',
							header: 'Lista de Amostras',
							show: {
								toolbar: true,
								footer: true
							},
							columns: [
								{ field: 'recid', caption: 'ID', size: '50px', sortable: true, attr: 'align=center' },
								{ field: 'scientificName', caption: scientificName, size: '20%', sortable: true, resizable: true },
								{ field: 'collectionName', caption: collectionName, size: '30%', sortable: true, resizable: true },
								{ field: 'recordedBy', caption: recordedBy, size: '25%', resizable: true },
							    { field: 'municipality', caption: municipality, size: '25%', resizable: true },
			                    { field: 'specimen_id', caption: 'Specimen_id', size: '20px', resizable: true, hidden: true }
							],
							searches: [
							  { field: 'scientificName', caption: scientificName, type: 'text' },
							  { field: 'collectionName', caption: collectionName, type: 'text' },
							  { field: 'recordedBy', caption: recordedBy, type: 'text' },
							  { field: 'municipality', caption: municipality, type: 'text' }
							],
							sortData: [{ field: 'recid', direction: 'ASC' }]
						});
					    w2ui.grid.on('click', function(event) {
			              window.open("/profile/specimen/{{base}}/" + w2ui['grid'].get(event.recid).specimen_id);
			            });
						//Final do Código da Tabela-Grid
			        readSpecies(id, map);
					});     
			});		  		   
		    
		  
		
	</script>
	<!-- Final: Códigos para o Mapa e Tabela -->

</head>
<body>
	<!-- Início Header: Menu e Logotipo -->
	<div id="header-wrapper">
		<div id="header">
			<div id="logo">
				<h1><a href="/{{base}}" id="bigno-SiteLabel-siteHome">Chaves Interativas Bignoniaceae</a></h1>
			</div>
			<div id="menu">
				<ul>
					<li><a href="/{{base}}" id="bigno-SiteLabel-siteIdentificationKey">Chave de identificação de espécies</a></li>
					<li><a href="/profile/glossary/{{base}}" id="bigno-SiteLabel-siteGlossary">Glossário</a></li>
					<li><a href="#" id="bigno-SiteLabel-siteAbout">Sobre</a></li>
					<li><a href="#" id="bigno-SiteLabel-siteContact">Contato</a></li>
				</ul>
			</div>
			<div id=menu>
					<ul>
						<li>
							<span class="t-lang">
								<img onclick="setLanguage('pt-BR')"  src="/images/pt_BR.png">
								<img onclick="setLanguage('en-US')"  src="/images/en_GB.png">
							</span>
						</li>
					</ul>
			</div>
		</div>
	</div>

	<!-- Fim Header: Menu e Logotipo -->
<div id="wrapper">
	<div id="wide-content">

	<!-- Início das informações da espécie -->
	<article>

	  <!-- Nome da espécie -->
      <h2 class="famesp" id="dwc-Taxon-genus-value"></h2>
	  <h1> <i> <span id="dwc-Taxon-scientificName-value"></span> </i><span id="dwc-Taxon-scientificNameAuthorship-value"></span></h1>

      <!--Nome popular-->
	  <h2 class="popname" id="dwc-Taxon-taxonRank-value"></h2>
	  <h2 class="popname" id="bigno-Sample-phenology-value"></h2>

		<!-- Início: Textos -->
	  <div class="infos-txt">

	  <!-- Início: Características Vegetativas -->
	  <div class="info-planta">
      <h2> <span id="bigno-ProfilesLabel-profilesVegetativeFeatures">Caracter&iacute;sticas Vegetativas</span>:</h2>
		    	<p><b><span id="bigno-CategoricalDescriptor-habit-label"></span></b> <span id="bigno-CategoricalDescriptor-habit-value"></span> </p>
					<p><b><span id="bigno-CategoricalDescriptor-dimorphicGrowthForm-label"></span></b> <span id="bigno-CategoricalDescriptor-dimorphicGrowthForm-value"></span></p>
					<p><b><span id="bigno-CategoricalDescriptor-phloemWedgesInStem-label"></span></b> <span id="bigno-CategoricalDescriptor-phloemWedgesInStem-value"></span></p>
					<p><b><span id="bigno-CategoricalDescriptor-branchletSection-label"/></b> <span id="bigno-CategoricalDescriptor-branchletSection-value"/></p>
					<p><b><span id="bigno-CategoricalDescriptor-branchletDiameter-label"></span></b> <span id="bigno-CategoricalDescriptor-branchletDiameter-value"></span></p>
					<p><b><span id="bigno-CategoricalDescriptor-branchletIndument-label"></span></b> <span id="bigno-CategoricalDescriptor-branchletIndument-value"></span></p>
					<p><b><span id="bigno-CategoricalDescriptor-branchletHairType-label"></span></b> <span id="bigno-CategoricalDescriptor-branchletHairType-value"></span></p>
					<p><b><span id="bigno-CategoricalDescriptor-branchletLenticels-label"></span></b> <span id="bigno-CategoricalDescriptor-branchletLenticels-value"></span></p>
					<p><b><span id="bigno-CategoricalDescriptor-branchletInterpetiolarGland-label"></span></b> <span id="bigno-CategoricalDescriptor-branchletInterpetiolarGland-value"></span></p>
					<p><b><span id="bigno-CategoricalDescriptor-branchletInterpetiolarRidge-label"></span></b> <span id="bigno-CategoricalDescriptor-branchletInterpetiolarRidge-value"></span></p>
					<p><b><span id="bigno-CategoricalDescriptor-branchletOdors-label"></span></b> <span id="bigno-CategoricalDescriptor-branchletOdors-value"></span></p>
					<p><b><span id="bigno-CategoricalDescriptor-prophyllsOfAxillaryBuds-label"></span></b> <span id="bigno-CategoricalDescriptor-prophyllsOfAxillaryBuds-value"></span></p>
					<p><b><span id="bigno-CategoricalDescriptor-prophyllsOfAxillaryBudsGlands-label"></span></b> <span id="bigno-CategoricalDescriptor-prophyllsOfAxillaryBudsGlands-value"></span></p>
					<p><b><span id="bigno-CategoricalDescriptor-leafType-label"></span></b> <span id="bigno-CategoricalDescriptor-leafType-value"></span></p>
					<p><b><span id="bigno-CategoricalDescriptor-leafTendrilType-label"></span></b> <span id="bigno-CategoricalDescriptor-leafTendrilType-value"></span></p>
					<p><b><span id="bigno-CategoricalDescriptor-leafTendrilHook-label"></span></b> <span id="bigno-CategoricalDescriptor-leafTendrilHook-value"></span></p>
					<p><b><span id="bigno-CategoricalDescriptor-leafTendrilAdesiveDisk-label"></span></b> <span id="bigno-CategoricalDescriptor-leafTendrilAdesiveDisk-value"></span></p>
					<p><b><span id="bigno-CategoricalDescriptor-leafLeafletsTexture-label"></span></b> <span id="bigno-CategoricalDescriptor-leafLeafletsTexture-value"></span></p>
					<p><b><span id="bigno-CategoricalDescriptor-leafLeafletsMargin-label"></span></b> <span id="bigno-CategoricalDescriptor-leafLeafletsMargin-value"></span></p>
					<p><b><span id="bigno-CategoricalDescriptor-leafLeafletsGlands-label"></span></b> <span id="bigno-CategoricalDescriptor-leafLeafletsGlands-value"></span></p>
					<p><b><span id="bigno-CategoricalDescriptor-leafLeafletsPellucidPunctations-label"></span></b> <span id="bigno-CategoricalDescriptor-leafLeafletsPellucidPunctations-value"></span></p>
					<p><b><span id="bigno-CategoricalDescriptor-leafLeafletsDomatia-label"></span></b> <span id="bigno-CategoricalDescriptor-leafLeafletsDomatia-value"></span></p>
					<p><b><span id="bigno-CategoricalDescriptor-leafLeafletsPrimaryVenation-label"></span></b> <span id="bigno-CategoricalDescriptor-leafLeafletsPrimaryVenation-value"></span></p>
					<p><b><span id="bigno-CategoricalDescriptor-leafLeafletsSecondaryVenation-label"></span></b> <span id="bigno-CategoricalDescriptor-leafLeafletsSecondaryVenation-value"></span></p>
					<p><b><span id="bigno-CategoricalDescriptor-leafLeafletsTertiaryVenation-label"></span></b> <span id="bigno-CategoricalDescriptor-leafLeafletsTertiaryVenation-value"></span></p>

	  
	  </div>
	  <!-- Fim: Características Vegetativas -->

	  <!-- Início: Características da Flor -->
	  <div class="info-flor">
			<h2> <span id="bigno-ProfilesLabel-profilesFlowerFeatures">Caracter&iacute;sticas da Flor</span>:</h2>
				<p><b><span id="bigno-CategoricalDescriptor-inflorescencePosition-label"/></b> <span id="bigno-CategoricalDescriptor-inflorescencePosition-value"/></p>
				<p><b><span id="bigno-CategoricalDescriptor-inflorescenceType-label"/></b> <span id="bigno-CategoricalDescriptor-inflorescenceType-value"/></p>
				<p><b><span id="bigno-CategoricalDescriptor-inflorescenceBractShape-label"/></b> <span id="bigno-CategoricalDescriptor-inflorescenceBractShape-value"/></p>
				<p><b><span id="bigno-CategoricalDescriptor-inflorescenceBractGlands-label"/></b> <span id="bigno-CategoricalDescriptor-inflorescenceBractGlands-value"/></p>
				<p><b><span id="bigno-CategoricalDescriptor-calyxShape-label"/></b> <span id="bigno-CategoricalDescriptor-calyxShape-value"/></p>
				<p><b><span id="bigno-CategoricalDescriptor-calyxApex-label"/></b> <span id="bigno-CategoricalDescriptor-calyxApex-value"/></p>
				<p><b><span id="bigno-CategoricalDescriptor-calyxDouble-label"/></b> <span id="bigno-CategoricalDescriptor-calyxDouble-value"/></p>
				<p><b><span id="bigno-CategoricalDescriptor-calyxTexture-label"/></b> <span id="bigno-CategoricalDescriptor-calyxTexture-value"/></p>
				<p><b><span id="bigno-CategoricalDescriptor-calyxOuterIndument-label"/></b> <span id="bigno-CategoricalDescriptor-calyxOuterIndument-value"/></p>
				<p><b><span id="bigno-CategoricalDescriptor-calyxGlands-label"/></b> <span id="bigno-CategoricalDescriptor-calyxGlands-value"/></p>
				<p><b><span id="bigno-CategoricalDescriptor-calyxArrangementInBud-label"/></b> <span id="bigno-CategoricalDescriptor-calyxArrangementInBud-value"/></p>
				<p><b><span id="bigno-CategoricalDescriptor-corollaColor-label"/></b> <span id="bigno-CategoricalDescriptor-corollaColor-value"/></p>
				<p><b><span id="bigno-CategoricalDescriptor-corollaNectarGuides-label"/></b> <span id="bigno-CategoricalDescriptor-corollaNectarGuides-value"/></p>
				<p><b><span id="bigno-CategoricalDescriptor-corollaShape-label"/></b> <span id="bigno-CategoricalDescriptor-corollaShape-value"/></p>
				<p><b><span id="bigno-CategoricalDescriptor-corollaCurvature-label"/></b> <span id="bigno-CategoricalDescriptor-corollaCurvature-value"/></p>
				<p><b><span id="bigno-CategoricalDescriptor-corollaTexture-label"/></b> <span id="bigno-CategoricalDescriptor-corollaTexture-value"/></p>
				<p><b><span id="bigno-CategoricalDescriptor-corollaLobes-label"/></b> <span id="bigno-CategoricalDescriptor-corollaLobes-value"/></p>
				<p><b><span id="bigno-CategoricalDescriptor-corollaCircunference-label"/></b> <span id="bigno-CategoricalDescriptor-corollaCircunference-value"/></p>
				<p><b><span id="bigno-CategoricalDescriptor-corollaOuterIndument-label"/></b> <span id="bigno-CategoricalDescriptor-corollaOuterIndument-value"/></p>
				<p><b><span id="bigno-CategoricalDescriptor-corollaInnerIndumentAtTheInsertionOfStaminode-label"/></b> <span id="bigno-CategoricalDescriptor-corollaInnerIndumentAtTheInsertionOfStaminode-value"/></p>
				<p><b><span id="bigno-CategoricalDescriptor-corollaGlands-label"/></b> <span id="bigno-CategoricalDescriptor-corollaGlands-value"/></p>
				<p><b><span id="bigno-CategoricalDescriptor-corollaLobeAestivation-label"/></b> <span id="bigno-CategoricalDescriptor-corollaLobeAestivation-value"/></p>
				<p><b><span id="bigno-CategoricalDescriptor-corollaMouthAtAnthesis-label"/></b> <span id="bigno-CategoricalDescriptor-corollaMouthAtAnthesis-value"/></p>
				<p><b><span id="bigno-CategoricalDescriptor-stamensAntherIndument-label"/></b> <span id="bigno-CategoricalDescriptor-stamensAntherIndument-value"/></p>
				<p><b><span id="bigno-CategoricalDescriptor-stamensAntherThecae-label"/></b> <span id="bigno-CategoricalDescriptor-stamensAntherThecae-value"/></p>
				<p><b><span id="bigno-CategoricalDescriptor-stamensAntherConnectiveTexture-label"/></b> <span id="bigno-CategoricalDescriptor-stamensAntherConnectiveTexture-value"/></p>
				<p><b><span id="bigno-CategoricalDescriptor-stamensAntherShapeOfConnective-label"/></b> <span id="bigno-CategoricalDescriptor-stamensAntherShapeOfConnective-value"/></p>
				<p><b><span id="bigno-CategoricalDescriptor-corollaIndumentAtInsertionOfStaminodeStamens-label"/></b> <span id="bigno-CategoricalDescriptor-corollaIndumentAtInsertionOfStaminodeStamens-value"/></p>
				<p><b><span id="bigno-CategoricalDescriptor-stamensPollenType-label"/></b> <span id="bigno-CategoricalDescriptor-stamensPollenType-value"/></p>
				<p><b><span id="bigno-CategoricalDescriptor-stamensPollenApertures-label"/></b> <span id="bigno-CategoricalDescriptor-stamensPollenApertures-value"/></p>
				<p><b><span id="bigno-CategoricalDescriptor-stamensPollenExineOrnamentation-label"/></b> <span id="bigno-CategoricalDescriptor-stamensPollenExineOrnamentation-value"/></p>
				<p><b><span id="bigno-CategoricalDescriptor-stamensPollenNectarDisk-label"/></b> <span id="bigno-CategoricalDescriptor-stamensPollenNectarDisk-value"/></p>
				<p><b><span id="bigno-CategoricalDescriptor-stamensPollenStipeAtTheBaseOfOvary-label"/></b> <span id="bigno-CategoricalDescriptor-stamensPollenStipeAtTheBaseOfOvary-value"/></p>
				<p><b><span id="bigno-CategoricalDescriptor-ovarySurface-label"/></b> <span id="bigno-CategoricalDescriptor-ovarySurface-value"/></p>
				<p><b><span id="bigno-CategoricalDescriptor-ovaryIndument-label"/></b> <span id="bigno-CategoricalDescriptor-ovaryIndument-value"/></p>
				<p><b><span id="bigno-CategoricalDescriptor-ovaryNumberOfOvuleSeries-label"/></b> <span id="bigno-CategoricalDescriptor-ovaryNumberOfOvuleSeries-value"/></p>
				<p><b><span id="bigno-CategoricalDescriptor-ovaryStigmaShape-label"/></b> <span id="bigno-CategoricalDescriptor-ovaryStigmaShape-value"/></p>
				<p><b><span id="bigno-CategoricalDescriptor-ovaryStigmaIndument-label"/></b> <span id="bigno-CategoricalDescriptor-ovaryStigmaIndument-value"/></p>

		</div>
		<!-- Final: Características da Flor -->


		<!-- Início: Características da Fruto -->
	  	<div class="info-fruto">
			<h2> <span id="bigno-ProfilesLabel-profilesFruitFeatures">Caracter&iacute;sticas da Flor</span>:</h2>
				<p><b><span id="bigno-CategoricalDescriptor-splitting-label"/></b> <span id="bigno-CategoricalDescriptor-splitting-value"/></p>
				<p><b><span id="bigno-CategoricalDescriptor-shape-label"/></b> <span id="bigno-CategoricalDescriptor-shape-value"/></p>
				<p><b><span id="bigno-CategoricalDescriptor-thickness-label"/></b> <span id="bigno-CategoricalDescriptor-thickness-value"/></p>
				<p><b><span id="bigno-CategoricalDescriptor-texture-label"/></b> <span id="bigno-CategoricalDescriptor-texture-value"/></p>
				<p><b><span id="bigno-CategoricalDescriptor-curvature-label"/></b> <span id="bigno-CategoricalDescriptor-curvature-value"/></p>
				<p><b><span id="bigno-CategoricalDescriptor-indument-label"/></b> <span id="bigno-CategoricalDescriptor-indument-value"/></p>
				<p><b><span id="bigno-CategoricalDescriptor-lenticels-label"/></b> <span id="bigno-CategoricalDescriptor-lenticels-value"/></p>
				<p><b><span id="bigno-CategoricalDescriptor-glands-label"/></b> <span id="bigno-CategoricalDescriptor-glands-value"/></p>
				<p><b><span id="bigno-CategoricalDescriptor-ridges-label"/></b> <span id="bigno-CategoricalDescriptor-ridges-value"/></p>
				<p><b><span id="bigno-CategoricalDescriptor-margin-label"/></b> <span id="bigno-CategoricalDescriptor-margin-value"/></p>
				<p><b><span id="bigno-CategoricalDescriptor-wings-label"/></b> <span id="bigno-CategoricalDescriptor-wings-value"/></p>
				<p><b><span id="bigno-CategoricalDescriptor-ornamentation-label"/></b> <span id="bigno-CategoricalDescriptor-ornamentation-value"/></p>
				<p><b><span id="bigno-CategoricalDescriptor-calyxInFruit-label"/></b> <span id="bigno-CategoricalDescriptor-calyxInFruit-value"/></p>
				<p><b><span id="bigno-CategoricalDescriptor-seedShape-label"/></b> <span id="bigno-CategoricalDescriptor-seedShape-value"/></p>
				<p><b><span id="bigno-CategoricalDescriptor-seedTexture-label"/></b> <span id="bigno-CategoricalDescriptor-seedTexture-value"/></p>
				<p><b><span id="bigno-CategoricalDescriptor-seedIndument-label"/></b> <span id="bigno-CategoricalDescriptor-seedIndument-value"/></p>
				
		</div>
		<!-- Final: Características da Fruto -->

		<!-- Início: Características Ecológicas -->
		<div class="info-ecologia">
			<h2> <span id="bigno-ProfilesLabel-profilesEcologicalFeatures">Caracter&iacute;sticas Ecológicas</span>:</h2>            
							<p><b><span id="bigno-CategoricalDescriptor-floralType-label"/></b><span id="bigno-CategoricalDescriptor-floralType-value"></span>
							</p>
							<p><b><span id="bigno-CategoricalDescriptor-pollinationSyndrome-label"/></b> <span id="bigno-CategoricalDescriptor-pollinationSyndrome-value"></span>
							</p>
							<p><b><span id="bigno-CategoricalDescriptor-nectarRobberProtection-label"/></b> <span id="bigno-CategoricalDescriptor-nectarRobberProtection-value"></span>
							</p>
							<p><b><span id="bigno-CategoricalDescriptor-dispersalSyndrome-label"/></b> <span id="bigno-CategoricalDescriptor-dispersalSyndrome-value"></span>
							</p>
												
		</div>
		<!-- Final: Características Ecológicas -->

		<!-- Início: Características de Distribuição -->
		<div class="info-distribuicao">
			<h2> <span id="bigno-ProfilesLabel-profilesDistributionFeatures">Caracter&iacute;sticas de Distribuição</span>:</h2>            
							<p><b><span id="bigno-CategoricalDescriptor-habitat-label"/></b><span id="bigno-CategoricalDescriptor-habitat-value"></span>
							</p>
							<p><b><span id="bigno-CategoricalDescriptor-distribution-label"/></b> <span id="bigno-CategoricalDescriptor-distribution-value"></span>
							</p>
												
		</div>
		<!-- Final: Características de Distribuição -->


		</div>
		<!-- Final: Textos -->

		<!-- Início: Imagens -->
		<div class="infos-img">

			<!-- Início: Slideshow com as imagens da planta -->
			<div class="img-planta-ae">

				<h2> <span id="bigno-ProfilesLabel-profilesImagesOfPlantFlowerFruit">Imagens da Planta, Flor e Frutos</span>:</h2>

				<div id="foto_planta" class="fotorama" data-allowfullscreen="native" data-width="425" data-maxheight="638">
	              <!-- <img src="/img/lspm.jpg">-->
				</div>

			</div>
			<!-- Final: Slideshow com as imagens da planta -->


			<!-- Início: Fotos do Grão de Pólen -->
			<div class="img-polen">
				<p class="clique-full">Clique em <img src="/images/{{base}}_full.png"> para ver as imagens em tela cheia</p>

				<h2> <span id="rcpol-ProfilesLabel-profilesImagesOfPollen">Imagens do Gr&atilde;o de P&oacute;len</span>:</h2>

				<div id="foto_polen" class="fotorama" data-allowfullscreen="native" data-width="425" data-maxheight="425">
	              <!-- <img src="/img/lspm.jpg">-->
				</div>

			</div>
			<!-- Final: Fotos do Grão de Pólen -->

		</div>
		<!-- Final: Imagens -->

		<!-- Início: Mapa de distribuição -->
		<div class="mapa">

			<h2> <span id="rcpol-ProfilesLabel-profilesLocalityOfSpecies">Localiza&ccedil;&atilde;o dos Esp&eacute;cimes</span>:</h2>

			<!-- Início Código Leaflet -->
			<div id="map" class="esize">

			</div>
			<!-- Final Código Leaflet -->

		</div>
		<!-- Final: Mapa de distribuição -->

		<!-- Início: Amostras -->
		<div class="amostras">

			<h2> <span id="rcpol-ProfilesLabel-profilesSample">Amostras</span>:</h2>

			<div id="grid"></div>

		</div>
		<!-- Final: Amostras -->

	        <!-- Início: Visitantes -->
			<!-- Inserir link para a página da interação: ficha_visitantes_especie.html-->
			<a href="/ficha_visitantes_especie.html">
			  <div class="visitantes">		  	
				<h2 id="rcpol-ProfilesLabel-profilesKnowFlowerVisitors">
				  Conheça os visitantes florais dessa espécie
				</h2>

			  </div>
			</a>
			<!-- Final: Visitantes -->		
			<h2 style="margin-bottom:10px" id="bigno-SiteLabel-howToCite">Como citar:</h2>
			<p id="bigno-SiteLabel-citation">Chaves Interativas Bignoniaceae. Available in:  <<a href=" href="http://chave.bigno.org.br">http://chave.bigno.org.br/</a>>. Date of access: </p>
		</article>
	<!-- Final das informações da espécie -->
	</div>
</div>

<!-- Início do Rodapé -->
	<div id="footer">
		<p id="bigno-SiteLabel-siteCopyright">Copyright &copy; 2016 BioComp - Todos os direitos reservados e outras informa&ccedil;&otilde;es</p>
	</div>
<!-- Final do Rodapé -->


</body>
</html>
