<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{{#label}}
<head>
   <meta name="keywords" content="" />
   <meta name="description" content="" />
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>Chaves Interativas Bignoniaceae</title>
   <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700" rel="stylesheet" type="text/css" />

	<!-- Css Documento -->
	<link rel="stylesheet" href="/css/ficha.css"> 

	<!-- Arquivos Leaflet Map -->
	<link rel="stylesheet" href="/javascript/leaflet/leaflet.css" />
	<script src="/javascript/leaflet/leaflet.js"></script>

	<!-- Arquivos Grid Tabela de Amostras -->
	<link rel="stylesheet" type="text/css" href="http://w2ui.com/src/w2ui-1.4.min.css" />

	--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> 
	<script type="text/javascript" src="http://w2ui.com/src/w2ui-1.4.min.js"></script>
	
	<script type="text/javascript" src="/javascript/internacionalization.js"></script>

	<!-- Arquivos Galeria - Fotorama -->
	<link  href="/javascript/fotorama/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
	<script src="/javascript/fotorama/fotorama.js"></script> <!-- 16 KB -->

	<!-- Javascript Documento -->
	<script type="text/javascript" src="/javascript/especime.js"></script>
	<script type="text/javascript">
		var specimenDb = {};
		var marker = null;
		var id = "{{id}}";
		var language = "pt-BR";
		function setLanguage(language){
			localStorage.language = language;
			window.location = "/profile/specimen/{{base}}/"+language+id.substring(5,id.length);
		}
		$(document).ready(function(){
			loadHerbariumInfo();
			var internacionalization = new Internacionalization();
			internacionalization.base = '{{base}}';
	  		internacionalization.updateLogo().siteTranslator();	  		

			$("#bigno-ProfilesLabel-profilesDepositedInCollection").html($("#bigno-ProfilesLabel-profilesDepositedInCollection").html().toLowerCase());
			$(".fotorama").fotorama();
			$("#foto_planta img").attr("style", "max-width:500px; max-height:400px;");
			if(localStorage && localStorage.language)
				language = localStorage.language;
			if (typeof(Storage) !== "undefined") {
				localStorage.language = localStorage.language?localStorage.language:"pt-BR";
				if(id.split(":")[0]!=localStorage.language)
					window.location = "/profile/specimen/{{base}}/"+language+id.substring(5,id.length);
			} else {
				alert("O seu browswer não suporta alguns recursos utilizados pelo sistema.\nRecomenda-se atualizar browser ou utilizar outro.");
			}
			{{#value}}
			var map = L.map('map',{scrollWheelZoom:false}).setView([-15.096511,-48.351517], 4);
			map.on("layeradd",function (e) {
				if(marker == null){
					var lat = 0;
					var log = 0;
					{{#dwc:Location:decimalLatitude:value}}
						lat = {{value}}?{{value}}:0,
					{{/dwc:Location:decimalLatitude:value}}	

					{{#dwc:Location:decimalLongitude:value}}
						log = {{value}}?{{value}}:0,
					{{/dwc:Location:decimalLongitude:value}}											
						// var p = [{{dwc:Location:decimalLatitude:value}}?{{dwc:Location:decimalLatitude:value}}:0, {{dwc:Location:decimalLongitude:value}}?{{dwc:Location:decimalLongitude:value}}:0];
						var p = [lat,log];
						marker = "Not null";
						L.marker(p,{opacity:0.9}).addTo(map);
						map.setView(p, 17);						
					

				}
			})
			mapLink = '';
			L.tileLayer('http://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {attribution: mapLink, maxZoom: 17}).addTo(map);
		});
		function loadHerbariumInfo() {					
			$.getJSON("/api/Collections?filter=%7B%22where%22%3A%7B%22"+language+"%3Adwc%3ARecordLevel%3AinstitutionCode.value%22%3A%22{{dwc:RecordLevel:institutionCode:value}}%22%2C%22"+language+"%3Adwc%3ARecordLevel%3AcollectionCode.value%22%3A%22{{rcpol:Sample:collectionCodeHerbarium:value}}%22%2C%22language%22%3A%22"+language+"%22%7D%7D", function(data){				
    			if(data[0]){    				
    				$("#bigno-ProfilesLabel-profilesHerbarium-value").html(data[0][language+":bigno:Collection:collectionName"].value+" ({{bigno:Sample:collectionCode:value}}) - {{dwc:RecordLevel:institutionCode:value}}");
    			}else {
    				$("#bigno-ProfilesLabel-profilesHerbarium-value").html("{{bigno:Sample:collectionCode:value}} - {{dwc:RecordLevel:institutionCode:value}}");
    				
    			}    			
    		});			
		}
		{{/value}}
	</script>
</head>
<body>
	<div class="contem">
	<!-- Início Header: Menu e Logotipo -->
	<div id="header-wrapper">
		<div id="header">
			<div id="logo">
				<h1><a href="/{{base}}" id="bigno-SiteLabel-siteHome">Chaves Interativas Bignoniaceae</a></h1>
			</div>
			<div id="menu">
				<ul>
					<li><a href="/{{base}}" id="bigno-SiteLabel-siteIdentificationKey">Chave de identificação de espécies</a></li>
					<li><a href="/profile/glossary/{{base}}" id="bigno-SiteLabel-siteGlossary">Glossário</a></li>
					<li><a href="/profile/about/{{base}}" id="bigno-SiteLabel-siteAbout">Sobre</a></li>
					<li><a href="/profile/contact/{{base}}" id="bigno-SiteLabel-siteContact">Contato</a></li>
				</ul>
			</div>
			<div id=menu>
					<ul>
						<li>
							<span class="t-lang">
								<img onclick="setLanguage('pt-BR')"  src="/images/pt_BR.png">
								<img onclick="setLanguage('en-US')"  src="/images/en_GB.png">
							</span>
						</li>
					</ul>
			</div>
		</div>
	</div>

	<div id="wrapper">
		<div id="wide-content">
		<!-- Fim Header: Menu e Logotipo -->
		<!-- Início das informações do especieme -->
		<article>
			{{#value}}
			<h2 class="famesp" id="dwc-Taxon-family-value"></h2>
			<!-- Nome da espécie e onde se encontra o espécime -->
			<h1 class="spm"><span id="bigno-ProfilesLabel-profilesSpecimenOf">{{bigno:ProfilesLabel:profilesSpecimenOf}}</span> <i><span id="dwc-Taxon-scientificName-value">{{dwc:Taxon:scientificName:value}}</span></i> <span id="dwc-Taxon-scientificNameAuthorship-value">{{dwc:Taxon:scientificNameAuthorship:value}}</span> <span id="bigno-ProfilesLabel-profilesDepositedInCollection"> {{bigno:ProfilesLabel:profilesDepositedInCollection}} </span><span id="laboratorio">{{bigno:Collection:collectionName:value}}</span> (<span id="instituicao">{{bigno:Collection:institutionName:value}}</span> - <span id="codigoDaInstituicao">{{dwc:RecordLevel:institutionCode:value}}</span>)</h1>
			<h2 class="popname" id="dwc-Taxon-vernacularName-value"></h2>
			<!-- Início: Embrulho Informações e Logo -->
			<div class="cspm">
				<!-- Início: Informações Palinoteca -->
				<div class="info-spal">
					<p><b>{{bigno:Collection:collectionName:label}}:</b> <span id="colecao">{{bigno:Collection:collectionName:value}}</span></p>
					<p><b>{{bigno:Collection:responsible:label}}:</b> <span id="responsavel">{{bigno:Collection:responsible:value}}</span></p>
					<p><b>{{bigno:Collection:address:label}}:</b> <span id="endereco">{{bigno:Collection:address:value}}</span></p>
					<p><b>{{bigno:Collection:telephone:label}}:</b> <span id="telefone">{{bigno:Collection:telephone:value}}</span></p>
					<p><b>{{bigno:Collection:email:label}}:</b> <span id="email">{{bigno:Collection:email:value}}</span></p>
					<!-- Link para homepage da palinoteca -->
					<p><b>{{bigno:Collection:homepage:label}}:</b> <a id="homepage_link" href="{{bigno:Collection:homepage:value}}" target="_blank"><span id="homepage">{{bigno:Collection:homepage:value}}:</span></a></p>
					<p>&nbsp;</p>
					<!-- Link para página da Palinoteca -->
					<p><a target="_blank" href="/profile/palinoteca/{{base}}/{{language}}:{{dwc:RecordLevel:institutionCode:value}}:{{dwc:RecordLevel:collectionCode:value}}" id="bigno-ProfilesLabel-profilesSeeSpecimensOfThisCollection">{{bigno:ProfilesLabel:profilesSeeSpecimensOfThisCollection}}</a></p>
					<!-- Link para página da Espécie -->
					<p><a target="_blank" href="/profile/species/{{base}}/{{language}}:{{base}}:{{dwc:Taxon:scientificName:value}}" id="bigno-ProfilesLabel-profilesSeeSpeciesProfile">{{bigno:ProfilesLabel:profilesSeeSpeciesProfile}}</a></p>
				</div>
				<!-- Final: Informações Palinoteca -->
				<!-- Início: Logotipo da Palinoteca -->
				<div class="img-spal">
					<img id="logo" src="{{bigno:Image:logotipo:value}}">
				</div>
				<!-- Final: Logotipo da Palinoteca -->
			</div>
			<!-- Final: Embrulho Informações e Logo -->
			<!-- Início: Textos -->
			<div class="infos-txt">
				<!-- Início: Informações da Coleta -->
				<div class="info-col">
					<h2><span id="bigno-ProfilesLabel-profilesCollectionInformation">{{bigno:ProfilesLabel:profilesCollectionInformation}}</span>:</h2>
					<p><b id="dwc-Occurrence-recordedBy-label"></b> <span id="dwc-Occurrence-recordedBy-value"></span></p>
					<!-- <p><b>N&uacute;mero do Coletor:</b> 0671</p>  -->
					<!-- TODO: *** HERBARIUM *** -->															

					<p><b id="dwc-RecordLevel-catalogNumber-label">{{dwc:RecordLevel:catalogNumber:label}}</b> <span id="dwc-RecordLevel-catalogNumber-value">{{dwc:RecordLevel:catalogNumber:value}}</span></p>
					
					<p><b id="bigno-ProfilesLabel-profilesHerbarium">{{bigno:ProfilesLabel:profilesHerbarium}}:</b> <span id="bigno-ProfilesLabel-profilesHerbarium-value"></span></p>
					<!--
					<p><b id="bigno-Sample-catalogNumberHerbarium-label">{{bigno:Sample:catalogNumberHerbarium:label}}</b> <span id="rcpol-Sample-catalogNumberHerbarium-value">{{rcpol:Sample:catalogNumberHerbarium:value}}</span></p>
					-->
					<p><b id="dwc-Event-eventDate-label">{{dwc:Event:eventDate:label}}</b> <span id="dwc-Event-eventDate-value">{{dwc:Event:eventDate:value}}</span></p>
					<p><b id="dwc-Location-country-label">{{dwc:Location:country:label}}</b> <span id="dwc-Location-country-value">{{dwc:Location:country:value}}</span></p>
					<p><b id="dwc-Location-stateProvince-label">{{dwc:Location:stateProvince:label}}</b> <span id="dwc-Location-stateProvince-value">{{dwc:Location:stateProvince:value}}</span></p>
					<p><b id="dwc-Location-municipality-label">{{dwc:Location:municipality:label}}</b> <span id="dwc-Location-municipality-value">{{dwc:Location:municipality:value}}</span></p>
					<p><b id="bigno-Sample-vegetalFormationType-label">{{rcpol:Sample:vegetalFormationType:label}}</b> <span id="bigno-Sample-vegetalFormationType-value">{{rcpol:Sample:vegetalFormationType:value}}</span></p>
					<p><b id="dwc-Location-decimalLatitude-label">{{dwc:Location:decimalLatitude:label}}</b> <span id="dwc-Location-decimalLatitude-value">{{dwc:Location:decimalLatitude:value}}</span></p>
					<p><b id="dwc-Location-decimalLongitude-label">{{dwc:Location:decimalLongitude:label}}</b> <span id="dwc-Location-decimalLongitude-value">{{dwc:Location:decimalLongitude:value}}</span></p>
					<!-- <h2>Informa&ccedil;&otilde;es Adicionais</h2> -->
					<!--<p>Foi coletada em &aacute;reas de Cerrado, Floresta Estacional Semidecidual, Caatinga e pr&oacute;xima a Mata de Arauc&aacute;rias. Possui ampla distribui&ccedil;&atilde;o no Brasil e &eacute; nativa.</p>-->
				</div>
				<!-- Final: Informações da Coleta -->
				<!-- Início: Características Vegetativas -->
	  <div class="info-planta">
      <h2> <span id="bigno-ProfilesLabel-profilesVegetativeFeatures">Caracter&iacute;sticas Vegetativas</span>:</h2>
		    	<p><b><span id="bigno-CategoricalDescriptor-habit-label"></span></b> <span id="bigno-CategoricalDescriptor-habit-value"></span> </p>
					<p><b><span id="bigno-CategoricalDescriptor-dimorphicGrowthForm-label"></span></b> <span id="bigno-CategoricalDescriptor-dimorphicGrowthForm-value"></span></p>
					<p><b><span id="bigno-CategoricalDescriptor-phloemWedgesInStem-label"></span></b> <span id="bigno-CategoricalDescriptor-phloemWedgesInStem-value"></span></p>
					<p><b><span id="bigno-CategoricalDescriptor-branchletSection-label"/></b> <span id="bigno-CategoricalDescriptor-branchletSection-value"/></p>
					<p><b><span id="bigno-CategoricalDescriptor-branchletDiameter-label"></span></b> <span id="bigno-CategoricalDescriptor-branchletDiameter-value"></span></p>
					<p><b><span id="bigno-CategoricalDescriptor-branchletIndument-label"></span></b> <span id="bigno-CategoricalDescriptor-branchletIndument-value"></span></p>
					<p><b><span id="bigno-CategoricalDescriptor-branchletHairType-label"></span></b> <span id="bigno-CategoricalDescriptor-branchletHairType-value"></span></p>
					<p><b><span id="bigno-CategoricalDescriptor-branchletLenticels-label"></span></b> <span id="bigno-CategoricalDescriptor-branchletLenticels-value"></span></p>
					<p><b><span id="bigno-CategoricalDescriptor-branchletInterpetiolarGland-label"></span></b> <span id="bigno-CategoricalDescriptor-branchletInterpetiolarGland-value"></span></p>
					<p><b><span id="bigno-CategoricalDescriptor-branchletInterpetiolarRidge-label"></span></b> <span id="bigno-CategoricalDescriptor-branchletInterpetiolarRidge-value"></span></p>
					<p><b><span id="bigno-CategoricalDescriptor-branchletOdors-label"></span></b> <span id="bigno-CategoricalDescriptor-branchletOdors-value"></span></p>
					<p><b><span id="bigno-CategoricalDescriptor-prophyllsOfAxillaryBuds-label"></span></b> <span id="bigno-CategoricalDescriptor-prophyllsOfAxillaryBuds-value"></span></p>
					<p><b><span id="bigno-CategoricalDescriptor-prophyllsOfAxillaryBudsGlands-label"></span></b> <span id="bigno-CategoricalDescriptor-prophyllsOfAxillaryBudsGlands-value"></span></p>
					<p><b><span id="bigno-CategoricalDescriptor-leafType-label"></span></b> <span id="bigno-CategoricalDescriptor-leafType-value"></span></p>
					<p><b><span id="bigno-CategoricalDescriptor-leafTendrilType-label"></span></b> <span id="bigno-CategoricalDescriptor-leafTendrilType-value"></span></p>
					<p><b><span id="bigno-CategoricalDescriptor-leafTendrilHook-label"></span></b> <span id="bigno-CategoricalDescriptor-leafTendrilHook-value"></span></p>
					<p><b><span id="bigno-CategoricalDescriptor-leafTendrilAdesiveDisk-label"></span></b> <span id="bigno-CategoricalDescriptor-leafTendrilAdesiveDisk-value"></span></p>
					<p><b><span id="bigno-CategoricalDescriptor-leafLeafletsTexture-label"></span></b> <span id="bigno-CategoricalDescriptor-leafLeafletsTexture-value"></span></p>
					<p><b><span id="bigno-CategoricalDescriptor-leafLeafletsMargin-label"></span></b> <span id="bigno-CategoricalDescriptor-leafLeafletsMargin-value"></span></p>
					<p><b><span id="bigno-CategoricalDescriptor-leafLeafletsGlands-label"></span></b> <span id="bigno-CategoricalDescriptor-leafLeafletsGlands-value"></span></p>
					<p><b><span id="bigno-CategoricalDescriptor-leafLeafletsPellucidPunctations-label"></span></b> <span id="bigno-CategoricalDescriptor-leafLeafletsPellucidPunctations-value"></span></p>
					<p><b><span id="bigno-CategoricalDescriptor-leafLeafletsDomatia-label"></span></b> <span id="bigno-CategoricalDescriptor-leafLeafletsDomatia-value"></span></p>
					<p><b><span id="bigno-CategoricalDescriptor-leafLeafletsPrimaryVenation-label"></span></b> <span id="bigno-CategoricalDescriptor-leafLeafletsPrimaryVenation-value"></span></p>
					<p><b><span id="bigno-CategoricalDescriptor-leafLeafletsSecondaryVenation-label"></span></b> <span id="bigno-CategoricalDescriptor-leafLeafletsSecondaryVenation-value"></span></p>
					<p><b><span id="bigno-CategoricalDescriptor-leafLeafletsTertiaryVenation-label"></span></b> <span id="bigno-CategoricalDescriptor-leafLeafletsTertiaryVenation-value"></span></p>

	  
	  </div>
	  <!-- Fim: Características Vegetativas -->

		<!-- Início: Características da Fruto -->
	  	<div class="info-fruto">
			<h2> <span id="bigno-ProfilesLabel-profilesFruitFeatures">Caracter&iacute;sticas da Flor</span>:</h2>
				<p><b><span id="bigno-CategoricalDescriptor-splitting-label"/></b> <span id="bigno-CategoricalDescriptor-splitting-value"/></p>
				<p><b><span id="bigno-CategoricalDescriptor-shape-label"/></b> <span id="bigno-CategoricalDescriptor-shape-value"/></p>
				<p><b><span id="bigno-CategoricalDescriptor-thickness-label"/></b> <span id="bigno-CategoricalDescriptor-thickness-value"/></p>
				<p><b><span id="bigno-CategoricalDescriptor-texture-label"/></b> <span id="bigno-CategoricalDescriptor-texture-value"/></p>
				<p><b><span id="bigno-CategoricalDescriptor-curvature-label"/></b> <span id="bigno-CategoricalDescriptor-curvature-value"/></p>
				<p><b><span id="bigno-CategoricalDescriptor-indument-label"/></b> <span id="bigno-CategoricalDescriptor-indument-value"/></p>
				<p><b><span id="bigno-CategoricalDescriptor-lenticels-label"/></b> <span id="bigno-CategoricalDescriptor-lenticels-value"/></p>
				<p><b><span id="bigno-CategoricalDescriptor-glands-label"/></b> <span id="bigno-CategoricalDescriptor-glands-value"/></p>
				<p><b><span id="bigno-CategoricalDescriptor-ridges-label"/></b> <span id="bigno-CategoricalDescriptor-ridges-value"/></p>
				<p><b><span id="bigno-CategoricalDescriptor-margin-label"/></b> <span id="bigno-CategoricalDescriptor-margin-value"/></p>
				<p><b><span id="bigno-CategoricalDescriptor-wings-label"/></b> <span id="bigno-CategoricalDescriptor-wings-value"/></p>
				<p><b><span id="bigno-CategoricalDescriptor-ornamentation-label"/></b> <span id="bigno-CategoricalDescriptor-ornamentation-value"/></p>
				<p><b><span id="bigno-CategoricalDescriptor-calyxInFruit-label"/></b> <span id="bigno-CategoricalDescriptor-calyxInFruit-value"/></p>
				<p><b><span id="bigno-CategoricalDescriptor-seedShape-label"/></b> <span id="bigno-CategoricalDescriptor-seedShape-value"/></p>
				<p><b><span id="bigno-CategoricalDescriptor-seedTexture-label"/></b> <span id="bigno-CategoricalDescriptor-seedTexture-value"/></p>
				<p><b><span id="bigno-CategoricalDescriptor-seedIndument-label"/></b> <span id="bigno-CategoricalDescriptor-seedIndument-value"/></p>
				
		</div>
		<!-- Final: Características da Fruto -->

		<!-- Início: Características Ecológicas -->
		<div class="info-ecologia">
			<h2> <span id="bigno-ProfilesLabel-profilesEcologicalFeatures">Caracter&iacute;sticas Ecológicas</span>:</h2>            
							<p><b><span id="bigno-CategoricalDescriptor-floralType-label"/></b><span id="bigno-CategoricalDescriptor-floralType-value"></span>
							</p>
							<p><b><span id="bigno-CategoricalDescriptor-pollinationSyndrome-label"/></b> <span id="bigno-CategoricalDescriptor-pollinationSyndrome-value"></span>
							</p>
							<p><b><span id="bigno-CategoricalDescriptor-nectarRobberProtection-label"/></b> <span id="bigno-CategoricalDescriptor-nectarRobberProtection-value"></span>
							</p>
							<p><b><span id="bigno-CategoricalDescriptor-dispersalSyndrome-label"/></b> <span id="bigno-CategoricalDescriptor-dispersalSyndrome-value"></span>
							</p>
												
		</div>
		<!-- Final: Características Ecológicas -->


			  <!-- Início: Características da Flor -->
			  <div class="info-flor">
					<h2> <span id="bigno-ProfilesLabel-profilesFlowerFeatures">Caracter&iacute;sticas da Flor</span>:</h2>
						<p><b><span id="bigno-CategoricalDescriptor-inflorescencePosition-label"/></b> <span id="bigno-CategoricalDescriptor-inflorescencePosition-value"/></p>
						<p><b><span id="bigno-CategoricalDescriptor-inflorescenceType-label"/></b> <span id="bigno-CategoricalDescriptor-inflorescenceType-value"/></p>
						<p><b><span id="bigno-CategoricalDescriptor-inflorescenceBractShape-label"/></b> <span id="bigno-CategoricalDescriptor-inflorescenceBractShape-value"/></p>
						<p><b><span id="bigno-CategoricalDescriptor-inflorescenceBractGlands-label"/></b> <span id="bigno-CategoricalDescriptor-inflorescenceBractGlands-value"/></p>
						<p><b><span id="bigno-CategoricalDescriptor-calyxShape-label"/></b> <span id="bigno-CategoricalDescriptor-calyxShape-value"/></p>
						<p><b><span id="bigno-CategoricalDescriptor-calyxApex-label"/></b> <span id="bigno-CategoricalDescriptor-calyxApex-value"/></p>
						<p><b><span id="bigno-CategoricalDescriptor-calyxDouble-label"/></b> <span id="bigno-CategoricalDescriptor-calyxDouble-value"/></p>
						<p><b><span id="bigno-CategoricalDescriptor-calyxTexture-label"/></b> <span id="bigno-CategoricalDescriptor-calyxTexture-value"/></p>
						<p><b><span id="bigno-CategoricalDescriptor-calyxOuterIndument-label"/></b> <span id="bigno-CategoricalDescriptor-calyxOuterIndument-value"/></p>
						<p><b><span id="bigno-CategoricalDescriptor-calyxGlands-label"/></b> <span id="bigno-CategoricalDescriptor-calyxGlands-value"/></p>
						<p><b><span id="bigno-CategoricalDescriptor-calyxArrangementInBud-label"/></b> <span id="bigno-CategoricalDescriptor-calyxArrangementInBud-value"/></p>
						<p><b><span id="bigno-CategoricalDescriptor-corollaColor-label"/></b> <span id="bigno-CategoricalDescriptor-corollaColor-value"/></p>
						<p><b><span id="bigno-CategoricalDescriptor-corollaNectarGuides-label"/></b> <span id="bigno-CategoricalDescriptor-corollaNectarGuides-value"/></p>
						<p><b><span id="bigno-CategoricalDescriptor-corollaShape-label"/></b> <span id="bigno-CategoricalDescriptor-corollaShape-value"/></p>
						<p><b><span id="bigno-CategoricalDescriptor-corollaCurvature-label"/></b> <span id="bigno-CategoricalDescriptor-corollaCurvature-value"/></p>
						<p><b><span id="bigno-CategoricalDescriptor-corollaTexture-label"/></b> <span id="bigno-CategoricalDescriptor-corollaTexture-value"/></p>
						<p><b><span id="bigno-CategoricalDescriptor-corollaLobes-label"/></b> <span id="bigno-CategoricalDescriptor-corollaLobes-value"/></p>
						<p><b><span id="bigno-CategoricalDescriptor-corollaCircunference-label"/></b> <span id="bigno-CategoricalDescriptor-corollaCircunference-value"/></p>
						<p><b><span id="bigno-CategoricalDescriptor-corollaOuterIndument-label"/></b> <span id="bigno-CategoricalDescriptor-corollaOuterIndument-value"/></p>
						<p><b><span id="bigno-CategoricalDescriptor-corollaInnerIndumentAtTheInsertionOfStaminode-label"/></b> <span id="bigno-CategoricalDescriptor-corollaInnerIndumentAtTheInsertionOfStaminode-value"/></p>
						<p><b><span id="bigno-CategoricalDescriptor-corollaGlands-label"/></b> <span id="bigno-CategoricalDescriptor-corollaGlands-value"/></p>
						<p><b><span id="bigno-CategoricalDescriptor-corollaLobeAestivation-label"/></b> <span id="bigno-CategoricalDescriptor-corollaLobeAestivation-value"/></p>
						<p><b><span id="bigno-CategoricalDescriptor-corollaMouthAtAnthesis-label"/></b> <span id="bigno-CategoricalDescriptor-corollaMouthAtAnthesis-value"/></p>
						<p><b><span id="bigno-CategoricalDescriptor-stamensAntherIndument-label"/></b> <span id="bigno-CategoricalDescriptor-stamensAntherIndument-value"/></p>
						<p><b><span id="bigno-CategoricalDescriptor-stamensAntherThecae-label"/></b> <span id="bigno-CategoricalDescriptor-stamensAntherThecae-value"/></p>
						<p><b><span id="bigno-CategoricalDescriptor-stamensAntherConnectiveTexture-label"/></b> <span id="bigno-CategoricalDescriptor-stamensAntherConnectiveTexture-value"/></p>
						<p><b><span id="bigno-CategoricalDescriptor-stamensAntherShapeOfConnective-label"/></b> <span id="bigno-CategoricalDescriptor-stamensAntherShapeOfConnective-value"/></p>
						<p><b><span id="bigno-CategoricalDescriptor-corollaIndumentAtInsertionOfStaminodeStamens-label"/></b> <span id="bigno-CategoricalDescriptor-corollaIndumentAtInsertionOfStaminodeStamens-value"/></p>
						<p><b><span id="bigno-CategoricalDescriptor-stamensPollenType-label"/></b> <span id="bigno-CategoricalDescriptor-stamensPollenType-value"/></p>
						<p><b><span id="bigno-CategoricalDescriptor-stamensPollenApertures-label"/></b> <span id="bigno-CategoricalDescriptor-stamensPollenApertures-value"/></p>
						<p><b><span id="bigno-CategoricalDescriptor-stamensPollenExineOrnamentation-label"/></b> <span id="bigno-CategoricalDescriptor-stamensPollenExineOrnamentation-value"/></p>
						<p><b><span id="bigno-CategoricalDescriptor-stamensPollenNectarDisk-label"/></b> <span id="bigno-CategoricalDescriptor-stamensPollenNectarDisk-value"/></p>
						<p><b><span id="bigno-CategoricalDescriptor-stamensPollenStipeAtTheBaseOfOvary-label"/></b> <span id="bigno-CategoricalDescriptor-stamensPollenStipeAtTheBaseOfOvary-value"/></p>
						<p><b><span id="bigno-CategoricalDescriptor-ovarySurface-label"/></b> <span id="bigno-CategoricalDescriptor-ovarySurface-value"/></p>
						<p><b><span id="bigno-CategoricalDescriptor-ovaryIndument-label"/></b> <span id="bigno-CategoricalDescriptor-ovaryIndument-value"/></p>
						<p><b><span id="bigno-CategoricalDescriptor-ovaryNumberOfOvuleSeries-label"/></b> <span id="bigno-CategoricalDescriptor-ovaryNumberOfOvuleSeries-value"/></p>
						<p><b><span id="bigno-CategoricalDescriptor-ovaryStigmaShape-label"/></b> <span id="bigno-CategoricalDescriptor-ovaryStigmaShape-value"/></p>
						<p><b><span id="bigno-CategoricalDescriptor-ovaryStigmaIndument-label"/></b> <span id="bigno-CategoricalDescriptor-ovaryStigmaIndument-value"/></p>

				</div>
				<!-- Final: Características da Flor -->

				<!-- Início: Características de Distribuição -->
				<div class="info-distribuicao">
					<h2> <span id="bigno-ProfilesLabel-profilesDistributionFeatures">Caracter&iacute;sticas de Distribuição</span>:</h2>            
									<p><b><span id="bigno-CategoricalDescriptor-habitat-label"/></b><span id="bigno-CategoricalDescriptor-habitat-value"></span>
									</p>
									<p><b><span id="bigno-CategoricalDescriptor-distribution-label"/></b> <span id="bigno-CategoricalDescriptor-distribution-value"></span>
									</p>
														
				</div>
				<!-- Final: Características de Distribuição -->	


		</div>
		<!-- Final: Textos -->


		<div class="infos-txt-right">

			

		</div>

			<!-- Final: Texto -->	
			<!-- Início: Mapa e Imagens -->
			<div class="infos-img">				
				<!-- Início: Mapa -->
				<div class="mspm">
					<h2>
						<span id="bigno-ProfilesLabel-profilesLocalityOfSpecimen">{{bigno:ProfilesLabel:profilesLocalityOfSpecimen}}</span>:
					</h2>
					<!-- Início Código Leaflet -->
					<div id="map" class="msize"></div>
					<!-- Final Código Leaflet -->
				</div>
				<!-- Final: Mapa -->	
				<!-- </div>	 -->
				<!-- Final: Mapa e Imagens -->	
				<!-- Início: Slideshow com as imagens da planta -->
				<div class="img-planta-me">
					<h2> <span id="bigno-ProfilesLabel-profilesImagesOfPlantFlowerFruit">{{bigno:ProfilesLabel:profilesImagesOfPlantFlowerFruit}}</span>:</h2>
					<div id="foto_planta" class="fotorama" data-allowfullscreen="native" data-width="425" data-maxheight="638">
						{{#bigno:Image:vegetativeFeaturesImage:value}}
						<img style='max-width:500px;' src="{{value}}">
						{{/bigno:Image:vegetativeFeaturesImage:value}}
						{{#bigno:Image:flowerImage:value}}
						<img style='max-width:500px;' src="{{value}}">
						{{/bigno:Image:flowerImage:value}}
						{{#bigno:Image:fruitImage:value}}
						<img style='max-width:500px;' src="{{value}}">
						{{/bigno:Image:fruitImage:value}}
					</div>
				</div>	
				<!-- Início: Fotos do Grão de Pólen -->
				<div class="img-polen">
					<p class="clique-full">Clique em <img src="/images/{{base}}_full.png"> para ver as imagens em tela cheia</p>
					
					<h2> <span id="bigno-ProfilesLabel-profilesImagesOfPollen">{{bigno:ProfilesLabel:profilesImagesOfPollen}}</span>:</h2>
					<div id="foto_polen" class="fotorama" data-allowfullscreen="native" data-width="425" data-maxheight="425">
						{{#bigno:Image:distributionImage:value}}
						<img style='max-width:500px;' src="{{value}}">
						{{/bigno:Image:distributionImage:value}}
						{{#bigno:Image:ecologyImage:value}}
						<img style='max-width:500px;' src="{{value}}">
						{{/bigno:Image:ecologyImage:value}}
					</div>
				</div>
				<!-- Final: Fotos do Grão de Pólen -->
			</div>
			<!-- Final: Imagens -->
			<!-- Início: Referências relacionadas ao espécime -->
			<div class="rre" id="referencias">
				<h2> <span id="bigno-ProfilesLabel-profilesReferencesOfSpecimens">{{bigno:ProfilesLabel:profilesReferencesOfSpecimens}}</span>:</h2>
				{{#bigno:Reference:flowerBibliographicCitation:value}}
				<p>{{value}}</p>
				{{/bigno:Reference:flowerBibliographicCitation:value}}
				{{#bigno:Reference:pollenBibliographicCitation:value}}
				<p>{{value}}</p>
				{{/bigno:Reference:pollenBibliographicCitation:value}}
			</div>
			<!-- Final: Referências relacionadas ao espécime -->
			
			<!-- Final: Embrulho Informações da Coleta e Mapa -->		
			
			<!-- Final: Slideshow com as imagens da planta -->
			<h2 style="margin-bottom:10px" id="bigno-SiteLabel-howToCite">Como citar:</h2>
			<h3 id="bigno-SiteLabel-citation">Chaves Interativas Bignoniaceae. Available in:  <<a href=" href="http://chave.bigno.org.br">http://chave.bigno.org.br/</a>>. Date of access: </h3>	
			{{/value}}			
		</article>
		<!-- Final das informações do espécime -->
		<!-- Início do Rodapé -->

	</div>
</div>

		<div id="footer">
			<p id="bigno-SiteLabel-siteCopyright">Copyright &copy; 2016 BioComp - Todos os direitos reservados e outras informa&ccedil;&otilde;es</p>
		</div>
		<!-- Final do Rodapé -->
	</div>
</body>
{{/label}}
</html>
